# PDR Analysis

In [1]:
#Importing SF parcel data that contains current use(s) and square footage. I then will merge in zoning data

In [1]:
import pandas as pd

In [5]:
url = 'https://data.sfgov.org/api/views/a2rp-pwkh/rows.csv?accessType=DOWNLOAD'

import requests  #  third-party library for making HTTP requests
r = requests.get(url)  # gets everything (data + metadata) that a web browser would
open('LandUse2016.csv', 'wb').write(r.content)  # saves content to disk

84293987

In [3]:
# parcel level land use data. SF Open Data says updated in 2019.

sflanduse = pd.read_csv('LandUse2016.csv')

In [ ]:
# Looking at the data

In [4]:
sflanduse.head()

,OBJECTID,BLKLOT,the_geom,MAPBLKLOT,BLOCK_NUM,LOT_NUM,FROM_ST,TO_ST,STREET,ST_TYPE,...,TOTAL_USES,LANDUSE,CIE,MED,MIPS,RETAIL,PDR,VISITOR,SHAPE_Leng,SHAPE_Area
0,1,0026013,MULTIPOLYGON (((-122.42108072666898 37.8047751...,0026013,0026,013,838.0,842.0,BAY,ST,...,0,RESIDENT,0,0,0,0,0,0,327.786363,3864.061762
1,2,0026014,MULTIPOLYGON (((-122.42117903244349 37.8047629...,0026014,0026,014,844.0,844.0,BAY,ST,...,3471,MIXRES,0,0,3471,0,0,0,320.352522,3361.025351
2,3,0026015,MULTIPOLYGON (((-122.42126451502638 37.8047522...,0026015,0026,015,848.0,850.0,BAY,ST,...,0,RESIDENT,0,0,0,0,0,0,319.046088,3272.033196
3,4,0026016,MULTIPOLYGON (((-122.42134572244261 37.8047421...,0026016,0026,016,860.0,862.0,BAY,ST,...,0,RESIDENT,0,0,0,0,0,0,279.353002,4570.767667
4,5,0026017,MULTIPOLYGON (((-122.4215252467804 37.80471971...,0026017,0026,017,870.0,872.0,BAY,ST,...,0,RESIDENT,0,0,0,0,0,0,294.354339,5225.823735

In [8]:
sflanduse.describe()

,OBJECTID,FROM_ST,TO_ST,RESUNITS,BLDGSQFT,YRBUILT,TOTAL_USES,CIE,MED,MIPS,RETAIL,PDR,VISITOR,SHAPE_Leng,SHAPE_Area
count,155468.000000,152780.000000,152780.000000,155468.000000,1.554680e+05,155468.000000,1.554680e+05,155468.000000,155468.000000,155468.000000,155468.000000,155468.000000,155468.000000,155468.000000,1.554680e+05
mean,77734.500000,1110.308228,1118.521187,2.329605,3.467095e+03,1833.649285,1.530632e+03,192.312978,112.357778,694.541346,272.078666,233.268788,26.072388,288.378709,6.844136e+03
std,44879.890163,1142.195406,1181.547892,10.485015,2.033387e+04,429.116954,1.281829e+04,2409.452327,2954.385480,8892.824073,2272.992865,2071.359310,673.809750,345.690549,2.446525e+05
min,1.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.969806,1.047078e+00
25%,38867.750000,209.000000,211.000000,1.000000,1.173000e+03,1909.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,234.461095,2.367244e+03
50%,77734.500000,682.000000,690.000000,1.000000,1.641000e+03,1926.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,259.174436,2.789632e+03
75%,116601.250000,1737.000000,1743.000000,2.000000,2.625000e+03,1947.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,290.292003,3.265321e+03
max,155468.000000,8344.000000,99999.000000,720.000000,3.015837e+06,8687.000000,1.576124e+06,398149.000000,649787.000000,932807.000000,387013.000000,373344.000000,66063.000000,46531.246768,6.558219e+07

In [ ]:
# columns were cut off so adjusting to show all columns

In [9]:
pd.set_option("display.max.columns", None)
sflanduse.head()

,OBJECTID,BLKLOT,the_geom,MAPBLKLOT,BLOCK_NUM,LOT_NUM,FROM_ST,TO_ST,STREET,ST_TYPE,RESUNITS,BLDGSQFT,YRBUILT,TOTAL_USES,LANDUSE,CIE,MED,MIPS,RETAIL,PDR,VISITOR,SHAPE_Leng,SHAPE_Area
0,1,0026013,MULTIPOLYGON (((-122.42108072666898 37.8047751...,0026013,0026,013,838.0,842.0,BAY,ST,5,5460,1912,0,RESIDENT,0,0,0,0,0,0,327.786363,3864.061762
1,2,0026014,MULTIPOLYGON (((-122.42117903244349 37.8047629...,0026014,0026,014,844.0,844.0,BAY,ST,1,4500,1900,3471,MIXRES,0,0,3471,0,0,0,320.352522,3361.025351
2,3,0026015,MULTIPOLYGON (((-122.42126451502638 37.8047522...,0026015,0026,015,848.0,850.0,BAY,ST,2,5783,1900,0,RESIDENT,0,0,0,0,0,0,319.046088,3272.033196
3,4,0026016,MULTIPOLYGON (((-122.42134572244261 37.8047421...,0026016,0026,016,860.0,862.0,BAY,ST,2,3700,1940,0,RESIDENT,0,0,0,0,0,0,279.353002,4570.767667
4,5,0026017,MULTIPOLYGON (((-122.4215252467804 37.80471971...,0026017,0026,017,870.0,872.0,BAY,ST,2,4543,1938,0,RESIDENT,0,0,0,0,0,0,294.354339,5225.823735

In [ ]:
#changing column names

In [6]:
sflanduse['objectid'] = sflanduse['OBJECTID']  
sflanduse['blklot'] = sflanduse['BLKLOT']
sflanduse['bldgsf'] = sflanduse['BLDGSQFT']
sflanduse['totuses'] = sflanduse['TOTAL_USES']
sflanduse['landuse'] = sflanduse['LANDUSE']
sflanduse['pdr'] = sflanduse['PDR']
sflanduse['parcelarea'] = sflanduse['SHAPE_Area']

In [6]:
sflanduse.head()

,OBJECTID,BLKLOT,the_geom,MAPBLKLOT,BLOCK_NUM,LOT_NUM,FROM_ST,TO_ST,STREET,ST_TYPE,...,VISITOR,SHAPE_Leng,SHAPE_Area,objectid,blklot,bldgsf,totuses,landuse,pdr,parcelarea
0,1,0026013,MULTIPOLYGON (((-122.42108072666898 37.8047751...,0026013,0026,013,838.0,842.0,BAY,ST,...,0,327.786363,3864.061762,1,0026013,5460,0,RESIDENT,0,3864.061762
1,2,0026014,MULTIPOLYGON (((-122.42117903244349 37.8047629...,0026014,0026,014,844.0,844.0,BAY,ST,...,0,320.352522,3361.025351,2,0026014,4500,3471,MIXRES,0,3361.025351
2,3,0026015,MULTIPOLYGON (((-122.42126451502638 37.8047522...,0026015,0026,015,848.0,850.0,BAY,ST,...,0,319.046088,3272.033196,3,0026015,5783,0,RESIDENT,0,3272.033196
3,4,0026016,MULTIPOLYGON (((-122.42134572244261 37.8047421...,0026016,0026,016,860.0,862.0,BAY,ST,...,0,279.353002,4570.767667,4,0026016,3700,0,RESIDENT,0,4570.767667
4,5,0026017,MULTIPOLYGON (((-122.4215252467804 37.80471971...,0026017,0026,017,870.0,872.0,BAY,ST,...,0,294.354339,5225.823735,5,0026017,4543,0,RESIDENT,0,5225.823735

In [7]:
parceldata = sflanduse[['objectid', 'the_geom', 'blklot', 'bldgsf', 'totuses','landuse','pdr','parcelarea']].copy()

In [8]:
parceldata.head()

,objectid,the_geom,blklot,bldgsf,totuses,landuse,pdr,parcelarea
0,1,MULTIPOLYGON (((-122.42108072666898 37.8047751...,0026013,5460,0,RESIDENT,0,3864.061762
1,2,MULTIPOLYGON (((-122.42117903244349 37.8047629...,0026014,4500,3471,MIXRES,0,3361.025351
2,3,MULTIPOLYGON (((-122.42126451502638 37.8047522...,0026015,5783,0,RESIDENT,0,3272.033196
3,4,MULTIPOLYGON (((-122.42134572244261 37.8047421...,0026016,3700,0,RESIDENT,0,4570.767667
4,5,MULTIPOLYGON (((-122.4215252467804 37.80471971...,0026017,4543,0,RESIDENT,0,5225.823735

In [8]:
#Total square footage of PDR uses in SF. 36 million seems very high to me.

parceldata.pdr.sum()

36265832

In [15]:
#bringing in zoning data which is also parcel level

url = 'https://data.sfgov.org/api/views/acdm-wktn/rows.csv?accessType=DOWNLOAD'

import requests  #  third-party library for making HTTP requests
r = requests.get(url)  # gets everything (data + metadata) that a web browser would
open('Parcels___Active_and_Retired.csv', 'wb').write(r.content)  # saves content to disk

151897656

In [9]:
sfzoning = pd.read_csv('Parcels___Active_and_Retired.csv')

low_memory = False

/srv/app/venv/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (2,14,15,16,17,18,19,20,21) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [10]:
sfzoning.head()

,blklot,block_num,lot_num,from_address_num,to_address_num,street_name,street_type,odd_even,in_asr_secured_roll,pw_recorded_map,...,active,date_map_add,date_map_alt,date_map_drop,date_rec_add,date_rec_drop,project_id_add,project_id_alt,project_id_drop,shape
0,0102002,0102,002,0.0,0.0,UNKNOWN,NaN,E,True,True,...,True,1998-07-01,NaN,NaN,NaN,NaN,ORIG_BASEMAP,NaN,NaN,MULTIPOLYGON (((-122.41073416433598 37.8003454...
1,0268015,0268,015,NaN,NaN,NaN,NaN,NaN,True,True,...,True,1998-07-01,NaN,NaN,NaN,NaN,ORIG_BASEMAP,NaN,NaN,MULTIPOLYGON (((-122.40172122939344 37.7915303...
2,0340004,0340,004,2.0,16.0,TURK,ST,E,True,True,...,True,1998-07-01,NaN,NaN,NaN,NaN,ORIG_BASEMAP,NaN,NaN,MULTIPOLYGON (((-122.40955159036159 37.7836383...
3,0758027,0758,027,1015.0,1025.0,LAGUNA,ST,O,True,True,...,True,1998-07-01,NaN,NaN,NaN,NaN,ORIG_BASEMAP,NaN,NaN,MULTIPOLYGON (((-122.4272037103539 37.78052582...
4,0808084,0808,084,NaN,NaN,NaN,NaN,NaN,True,True,...,True,2013-12-04,NaN,NaN,2013-09-13,NaN,23189,NaN,NaN,MULTIPOLYGON (((-122.42397065995418 37.7772836...

In [18]:
sfzoning.zoning_code.describe()

count     229228
unique       307
top         RH-1
freq       62548
Name: zoning_code, dtype: object

In [10]:
zoningdata = sfzoning[['blklot', 'zoning_code', 'active','shape']].copy()

In [8]:
zoningdata.head()

,blklot,zoning_code,active,shape
0,0102002,P,True,MULTIPOLYGON (((-122.41073416433598 37.8003454...
1,0268015,C-3-O,True,MULTIPOLYGON (((-122.40172122939344 37.7915303...
2,0340004,C-3-G,True,MULTIPOLYGON (((-122.40955159036159 37.7836383...
3,0758027,P,True,MULTIPOLYGON (((-122.4272037103539 37.78052582...
4,0808084,NCT,True,MULTIPOLYGON (((-122.42397065995418 37.7772836...

In [11]:
parcelwzoning = pd.merge(parceldata, zoningdata, on='blklot', how='left')

In [10]:
parcelwzoning.head()

,objectid,the_geom,blklot,bldgsf,totuses,landuse,pdr,parcelarea,zoning_code,active,shape
0,1,MULTIPOLYGON (((-122.42108072666898 37.8047751...,0026013,5460,0,RESIDENT,0,3864.061762,RH-3,True,MULTIPOLYGON (((-122.42108039578335 37.8047750...
1,2,MULTIPOLYGON (((-122.42117903244349 37.8047629...,0026014,4500,3471,MIXRES,0,3361.025351,RH-3,True,MULTIPOLYGON (((-122.42117870155766 37.8047627...
2,3,MULTIPOLYGON (((-122.42126451502638 37.8047522...,0026015,5783,0,RESIDENT,0,3272.033196,RH-3,True,MULTIPOLYGON (((-122.42133854109176 37.8051195...
3,4,MULTIPOLYGON (((-122.42134572244261 37.8047421...,0026016,3700,0,RESIDENT,0,4570.767667,RH-3,True,MULTIPOLYGON (((-122.42134538928569 37.8047419...
4,5,MULTIPOLYGON (((-122.4215252467804 37.80471971...,0026017,4543,0,RESIDENT,0,5225.823735,RH-3,True,MULTIPOLYGON (((-122.42152491362313 37.8047195...

In [15]:
parcelwzoning.describe()

            objectid        bldgsf       totuses            pdr    parcelarea
count  155468.000000  1.554680e+05  1.554680e+05  155468.000000  1.554680e+05
mean    77734.500000  3.467095e+03  1.530632e+03     233.268788  6.844136e+03
std     44879.890163  2.033387e+04  1.281829e+04    2071.359310  2.446525e+05
min         1.000000  0.000000e+00  0.000000e+00       0.000000  1.047078e+00
25%     38867.750000  1.173000e+03  0.000000e+00       0.000000  2.367244e+03
50%     77734.500000  1.641000e+03  0.000000e+00       0.000000  2.789632e+03
75%    116601.250000  2.625000e+03  0.000000e+00       0.000000  3.265321e+03
max    155468.000000  3.015837e+06  1.576124e+06  373344.000000  6.558219e+07

In [12]:
parcelwzoning['geometry'] = parcelwzoning['the_geom']

In [12]:
parcelwzoning.head()

,objectid,the_geom,blklot,bldgsf,totuses,landuse,pdr,parcelarea,zoning_code,active,shape,geometry
0,1,MULTIPOLYGON (((-122.42108072666898 37.8047751...,0026013,5460,0,RESIDENT,0,3864.061762,RH-3,True,MULTIPOLYGON (((-122.42108039578335 37.8047750...,MULTIPOLYGON (((-122.42108072666898 37.8047751...
1,2,MULTIPOLYGON (((-122.42117903244349 37.8047629...,0026014,4500,3471,MIXRES,0,3361.025351,RH-3,True,MULTIPOLYGON (((-122.42117870155766 37.8047627...,MULTIPOLYGON (((-122.42117903244349 37.8047629...
2,3,MULTIPOLYGON (((-122.42126451502638 37.8047522...,0026015,5783,0,RESIDENT,0,3272.033196,RH-3,True,MULTIPOLYGON (((-122.42133854109176 37.8051195...,MULTIPOLYGON (((-122.42126451502638 37.8047522...
3,4,MULTIPOLYGON (((-122.42134572244261 37.8047421...,0026016,3700,0,RESIDENT,0,4570.767667,RH-3,True,MULTIPOLYGON (((-122.42134538928569 37.8047419...,MULTIPOLYGON (((-122.42134572244261 37.8047421...
4,5,MULTIPOLYGON (((-122.4215252467804 37.80471971...,0026017,4543,0,RESIDENT,0,5225.823735,RH-3,True,MULTIPOLYGON (((-122.42152491362313 37.8047195...,MULTIPOLYGON (((-122.4215252467804 37.80471971...

In [ ]:
#Getting rid of duplicate columns

In [13]:
parcelwzoning2 = parcelwzoning[['objectid','blklot','bldgsf','totuses','landuse','pdr','parcelarea','zoning_code', 'active','geometry']].copy()

In [14]:
parcelwzoning2.head()

,objectid,blklot,bldgsf,totuses,landuse,pdr,parcelarea,zoning_code,active,geometry
0,1,0026013,5460,0,RESIDENT,0,3864.061762,RH-3,True,MULTIPOLYGON (((-122.42108072666898 37.8047751...
1,2,0026014,4500,3471,MIXRES,0,3361.025351,RH-3,True,MULTIPOLYGON (((-122.42117903244349 37.8047629...
2,3,0026015,5783,0,RESIDENT,0,3272.033196,RH-3,True,MULTIPOLYGON (((-122.42126451502638 37.8047522...
3,4,0026016,3700,0,RESIDENT,0,4570.767667,RH-3,True,MULTIPOLYGON (((-122.42134572244261 37.8047421...
4,5,0026017,4543,0,RESIDENT,0,5225.823735,RH-3,True,MULTIPOLYGON (((-122.4215252467804 37.80471971...

In [ ]:
#Figuring out what Zoning_Code data type is so I can filter string values for PDR

In [19]:
parcelwzoning2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 155468 entries, 0 to 155467
Data columns (total 10 columns):
objectid       155468 non-null int64
blklot         155468 non-null object
bldgsf         155468 non-null int64
totuses        155468 non-null int64
landuse        155468 non-null object
pdr            155468 non-null int64
parcelarea     155468 non-null float64
zoning_code    154673 non-null object
active         155451 non-null object
geometry       155468 non-null object
dtypes: float64(1), int64(4), object(5)
memory usage: 13.0+ MB

In [ ]:
#Converting object to string values for zoning_code column

In [15]:
parcelwzoning2['zoning'] = parcelwzoning2['zoning_code'].astype(str)

In [22]:
parcelwzoning2.head()

,objectid,blklot,bldgsf,totuses,landuse,pdr,parcelarea,zoning_code,active,geometry,zoning
0,1,0026013,5460,0,RESIDENT,0,3864.061762,RH-3,True,MULTIPOLYGON (((-122.42108072666898 37.8047751...,RH-3
1,2,0026014,4500,3471,MIXRES,0,3361.025351,RH-3,True,MULTIPOLYGON (((-122.42117903244349 37.8047629...,RH-3
2,3,0026015,5783,0,RESIDENT,0,3272.033196,RH-3,True,MULTIPOLYGON (((-122.42126451502638 37.8047522...,RH-3
3,4,0026016,3700,0,RESIDENT,0,4570.767667,RH-3,True,MULTIPOLYGON (((-122.42134572244261 37.8047421...,RH-3
4,5,0026017,4543,0,RESIDENT,0,5225.823735,RH-3,True,MULTIPOLYGON (((-122.4215252467804 37.80471971...,RH-3

In [ ]:
# Creating a 'filteredPDR' dataframe that only includes data based on the 'zoning' column containing 'PDR' as a string value. This should filter the data to only include PDR zoned parcels.

In [16]:
filteredPDR = parcelwzoning2[parcelwzoning2['zoning'].str.contains("PDR")]

In [17]:
filteredPDR.head()

,objectid,blklot,bldgsf,totuses,landuse,pdr,parcelarea,zoning_code,active,geometry,zoning
14738,14710,4793001B,5500,0,PDR,0,5484.879634,PDR-2,True,MULTIPOLYGON (((-122.38172846694592 37.7254965...,PDR-2
14739,14711,4357004,4873,13365,MIXED,6003,13603.993113,PDR-2,True,MULTIPOLYGON (((-122.38574307007826 37.7502624...,PDR-2
69874,69851,3552009,0,0,RETAIL/ENT,0,18324.895471,PDR-1-G,True,MULTIPOLYGON (((-122.41552495288843 37.7660867...,PDR-1-G
69876,69853,3552013,0,5000,PDR,0,13212.498674,PDR-1-G,True,MULTIPOLYGON (((-122.41651291865504 37.7653523...,PDR-1-G
69933,69911,3551003,23522,8020,MIXED,3272,17571.244674,PDR-1-G,True,MULTIPOLYGON (((-122.41328098872894 37.7655474...,PDR-1-G

In [18]:
filteredPDR.describe()

,objectid,bldgsf,totuses,pdr,parcelarea
count,1448.000000,1448.000000,1448.000000,1448.000000,1.448000e+03
mean,98467.995166,12354.527624,8712.859116,4964.520718,2.475548e+04
std,17760.185893,27828.736972,22303.197148,11526.108931,5.336671e+04
min,14710.000000,0.000000,0.000000,0.000000,5.285363e+01
25%,88578.750000,0.000000,0.000000,0.000000,4.974987e+03
50%,93472.500000,4141.500000,2184.000000,0.000000,9.582792e+03
75%,103657.750000,11212.500000,9664.750000,4995.500000,2.562423e+04
max,155457.000000,439294.000000,454602.000000,165132.000000,1.391874e+06

In [19]:
#total area of PDR zoned parcels is 35.8 million

filteredPDR.parcelarea.sum()

35845931.19744383

In [20]:
#Total building sf of PDR zoned parcels is 17.9 million
filteredPDR.bldgsf.sum()

17889356

In [21]:
#Total sf of PDR uses in PDR zoned districts is only 7.2 million which means a lot of space is going to different things in PDR districts

filteredPDR.pdr.sum()

7188626

In [ ]:
#Saving results

In [29]:
parcelwzoning2.to_csv(r'parcelwzoning.csv')

In [30]:
filteredPDR.to_csv(r'filteredpdr.csv')